* {
  box-sizing: border-box; }

img {
  width: 100%;
  display: block; }

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  background: url(../images/images/pexels-photo-121489.jpeg) center center no-repeat;
  background-size: cover; }

#app-container {
  max-width: 960px;
  margin: 0 auto; }

.body_box {
  background: #fff; }
  .body_box .header_box {
    background: url(../images/images/roomies-eating-together-bg.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    height: 50%;
    padding-top: 100px;
    margin: 0; }
    .body_box .header_box .header_box_title {
      padding: 0 15px; }
      .body_box .header_box .header_box_title h1 {
        font-size: 26px; }
      .body_box .header_box .header_box_title p {
        font-size: 15px; }
    .body_box .header_box .header_box_input {
      width: 85%;
      margin: auto;
      height: 40px;
      border: none; }
      .body_box .header_box .header_box_input input {
        height: 40px;
        border: none; }
      .body_box .header_box .header_box_input span {
        border: none;
        width: 20%;
        color: white;
        background: #4bd5e8; }
  .body_box .sub_header_box {
    background: #4bd5e8;
    margin: 0;
    color: white;
    padding-top: 25px;
    padding-bottom: 0px;
    overflow: hidden;
    height: 250px; }
    .body_box .sub_header_box .sub_header_but {
      background: #394755;
      margin-top: 10px; }
    .body_box .sub_header_box .sub_header_house {
      position: relative;
      width: 40%;
      right: -300px;
      bottom: -75px;
      margin: 0; }
    .body_box .sub_header_box .sub_header_text {
      position: absolute;
      z-index: 300; }
  .body_box .top_middle_box {
    margin-bottom: 40px; }
    .body_box .top_middle_box h2 {
      color: #4bd5e8;
      margin-bottom: 10px; }
    .body_box .top_middle_box p {
      color: gray; }
  .body_box .bottom_middle_box {
    margin-bottom: 40px; }
    .body_box .bottom_middle_box > p {
      color: #4bd5e8; }
    .body_box .bottom_middle_box img {
      width: 30%;
      margin-right: 0;
      margin: auto; }
  .body_box .middle_pic_box {
    background: url(../images/images/happy-roomies-bg.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
    padding: 50px 0; }
    .body_box .middle_pic_box h3 {
      font-size: 20px; }
    .body_box .middle_pic_box .pic_box_socialmedia i {
      background: #4bd5e8;
      border-radius: 100%;
      width: 3%;
      margin: 0 5px;
      padding: 1 8;
      padding-right: 20px;
      padding-left: 5px; }
    .body_box .middle_pic_box .pic_box_socialmedia .btn_facebook {
      padding-left: 10px;
      padding-right: 15px; }
    .body_box .middle_pic_box .middle_pic_box_top .box_top_para {
      margin-bottom: 30px; }
    @media screen and (min-width: 768px) {
      .body_box .middle_pic_box .middle_pic_box_top br {
        display: none; } }
    .body_box .middle_pic_box .middle_pic_box_bottom {
      width: 95%;
      margin: auto;
      border: none; }
      .body_box .middle_pic_box .middle_pic_box_bottom input {
        border: none; }
      .body_box .middle_pic_box .middle_pic_box_bottom span {
        width: 20%;
        background: #394755;
        color: lightgray;
        border: none; }
  .body_box .bottom_top_box {
    margin-bottom: 30px; }
    .body_box .bottom_top_box h2 {
      color: #4bd5e8; }
  .body_box .bottom_success_box {
    margin-bottom: 30px; }
    .body_box .bottom_success_box h3 {
      color: #4bd5e8; }
    .body_box .bottom_success_box img {
      width: 15%;
      margin: auto; }
    .body_box .bottom_success_box p {
      padding: 0 20px; }
  .body_box .bottom_featured_box {
    background: #fdc948; }
  .body_box .nav_box {
    background: #394755; }

/*# sourceMappingURL=styles.css.map */
