*{
   box-sizing: border-box
}

img {
   width: 100%;
   display: block;
}

body {
   margin: 0;
   font-family: 'Source Sans Pro', sans-serif;
   text-align: center;
   background: url(../images/images/pexels-photo-121489.jpeg) center center no-repeat;
   background-size: cover;

}

#app-container{
   max-width: 960px;
   margin: 0 auto;

}

$tablet_screen_width: 768px;

.body_box {
   background: #fff;
   .header_box{
      background: url(../images/images/roomies-eating-together-bg.jpg) center center no-repeat;
      background-size: cover;
      color: white;
      height: 50%;
      padding-top: 100px;
      margin:0;

      .header_box_title {
         padding: 0 15px;

         h1 {
            font-size: 26px;
         }
         p {
            font-size: 15px;
         }
      }
      .header_box_input {
         width: 85%;
         margin: auto;
         height: 40px;
         border:none;

         input {
            height: 40px;
            border:none;
         }
         span {
            border:none;
            width: 20%;
            color:white;
            background: #4bd5e8;
         }
      }
   }
   .sub_header_box {
      background: #4bd5e8;
      margin:0;
      color:white;
      padding-top: 25px;
      padding-bottom: 0px;
      overflow: hidden;
      height: 250px;


      .sub_header_but {
         background: rgb(57,71,85);
         margin-top: 10px;
      }
      .sub_header_house {
         position: relative;
         width: 40%;
         right: -300px;
         bottom:-75px;
         margin: 0;

      }
      .sub_header_text {
         position:absolute;
         z-index: 300;
      }
   }
   .top_middle_box{
      margin-bottom: 40px;

      h2 {
         color: #4bd5e8;
         margin-bottom: 10px;
      }
      p {
         color: gray;
      }
   }
   .bottom_middle_box {
      margin-bottom: 40px;

      > p {
         color: #4bd5e8;
      }
      img {
         width: 30%;
         margin-right:0;
         margin: auto;
      }
   }
   .middle_pic_box {
      background: url(../images/images/happy-roomies-bg.jpg) center center no-repeat;
      background-size: cover;
      color: #fff;
      padding: 50px 0;

      h3 {
         font-size: 20px;
      }
      .pic_box_socialmedia {

         i {
            background:#4bd5e8;
            border-radius: 100%;
            width:3%;
            margin: 0 5px;
            padding: 1 8;
            padding-right: 20px;
            padding-left: 5px;

         }

         .btn_facebook {
            padding-left: 10px;
            padding-right: 15px;
         }

      }
      .middle_pic_box_top {
         .box_top_para {
            margin-bottom: 30px;
         }

         @media screen and (min-width: $tablet_screen_width) {

            br {
               display:none;
            }
         }

      }
      .middle_pic_box_bottom {
         width: 95%;
         margin: auto;
         border:none;


         input {
            border: none;
         }

         span {
            width: 20%;
            background: rgb(57,71,85);
            color:lightgray;
            border:none;
         }
      }
   }
   .bottom_top_box {
      margin-bottom: 30px;
      h2 {
         color: #4bd5e8;
      }
   }
   .bottom_success_box {
      margin-bottom: 30px;
      h3 {
         color: #4bd5e8;
      }
      img {
         width: 15%;
         margin: auto;

      }
      p {
         padding: 0 20px;
      }
   }
   .bottom_featured_box {
      background: rgb(253,201,72);
   }
   .nav_box {
      background: #394755;
   }


}
